.title {
    font-size: 3rem;
    color: rgb(250, 113, 0);
}
.input__container {
    width: 90%;
    margin: 0 auto;
}
.input__space {
    width: 95%;
    height: 40px;
    position: relative;
    border: 1px solid rgb(135, 134, 141);
}
.add__button {
    width: 17%;
    font-size: 3.5rem;
    background-color: rgb(250, 113, 0);
    border: none;
    border-radius: 50%;  
    position: absolute;
    top: -22px;
    right: -10px; 
}
.plus-icon {
    font-size: 1.5rem;
    color: #ffffff;
    
}